// переменные

$orange: #f9b43b;
$black: #2f3234;
$red: #e35028;

// layout

@import "./layout/normalize.scss";
@import "./layout/layout.scss";
@import "./layout/fonts.scss";


// blocks

@import "./blocks/button.scss";
@import "./blocks/title.scss";


@import "./blocks/intro.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/salutation.scss";

@import "./blocks/best.scss";
@import "./blocks/feature.scss";

@import "./blocks/reviews.scss";
@import "./blocks/review.scss";

@import "./blocks/form.scss";



@import "./blocks/pagination.scss";