// variables

$orange: #f9b43b;
$black: #2f3234;
$red: #e35028;


// breakpoints

// $desctop: 1200px;
// $laptop: 992px;
$tablets: 768px;
$phones: 480px;

// media

@import "./layout/media.scss";

// layout

@import "./layout/mixins.scss";
@import "./layout/normalize.scss";
@import "./layout/layout.scss";
@import "./layout/fonts.scss";


// blocks

@import "./blocks/button.scss";
@import "./blocks/title.scss";

@import "./blocks/intro.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/hamburger-menu.scss";
@import "./blocks/salutation.scss";

@import "./blocks/best.scss";
@import "./blocks/feature.scss";

@import "./blocks/products.scss";
@import "./blocks/products-slider.scss";
@import "./blocks/product.scss";
@import "./blocks/composition.scss";

@import "./blocks/team.scss";
@import "./blocks/team-member.scss";

@import "./blocks/menu.scss";
@import "./blocks/menu-accordeon.scss";

@import "./blocks/reviews.scss";
@import "./blocks/review.scss";

@import "./blocks/how-work.scss";
@import "./blocks/player.scss";

@import "./blocks/form.scss";

@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/socials.scss";


@import "./blocks/pagination.scss";
@import "./blocks/nav-fullscreen.scss";
@import "./blocks/form-notification.scss";