.button {
   color: #ffffff;
   font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
   font-size: 13px;
   text-transform: uppercase;
   background-color: $red;
   padding: 10px 16px;
   border-radius: 5px;
   transition: 0.3s;
   text-decoration: none;

   &:hover {
      background-color: #c1401e;
   }
}