.feature {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   &__img {
      width: 97px;
      height: 89px;
      margin-bottom: 33px;
   }

   &__title {
      font-family: 'lifehack', Arial, Helvetica, sans-serif;
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__text {
      opacity: 0.8;
      font-size: 14px;
      font-weight: 300;
   }
}

@each $featureimg in (meat, hand, natural) {

   .feature__img-#{$featureimg} {
      background: url('../img/#{$featureimg}.png') center center no-repeat;
   }
}