.map {
   background: url('../img/bg-map.jpg') center center / cover no-repeat;
   position: relative;

   // &:after,
   // &:before {
   //    content: '';
   //    display: block;
   //    width: 46px;
   //    height: 57px;
   //    background: url('../img/map-marker.png') center center / cover no-repeat;
   //    position: absolute;
   // }

   &__marker {
      width: 46px;
      height: 57px;
      position: absolute;

      &-top {
         top: 30%;
         left: 43%;
      }

      &-middle {
         top: 50%;
         left: 50%;
      }

      &-right {
         top: 60%;
         left: 80%;
      }

      &-bottom {
         top: 80%;
         left: 44%;
      }
   }

   // &:after {
   //    top: 30%;
   //    left: 43%;
   // }

   // &:before {
   //    top: 50%;
   //    left: 54%;
   // }
}