.salutation {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 0.8;
   padding: 0 10%;

   @include tablets {
      flex-direction: column;
   }

   &__pic {
      margin-right: rem(13px); // 13px

      @include tablets {
         margin-right: 0;
      }
   }

   &__tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: rem(50px);

      @include tablets {
         padding-top: rem(10px);
         align-items: center;
         text-align: center;
      }
   }

   &__text {
      font-family: 'lifehack', Arial, Helvetica, sans-serif;
      font-size: rem(63px); // 63px
      line-height: 1;
   }
}