.salutation {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 0.8;

   &__pic {
      position: relative;
      margin-right: 13px;

      &:after {
         content: '';
         display: block;
         width: 451px;
         height: 241px;
         background: url('../img/drops.png') center center no-repeat;
         position: absolute;
         top: 68px;
         left: -34px;
      }
   }

   &__tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 50px;
   }

   &__text {
      font-family: 'lifehack', Arial, Helvetica, sans-serif;
      font-size: 63px;
      line-height: 1;
   }
}