.socials__list {
   display: flex;
}

.socials__link {
   display: block;
   width: 23px;
   height: 23px;
   background: center center no-repeat;
   margin: 0 rem(10px) 0;
}

@each $socialico in (vk, fb, inst, twitter) {
   .socials__link-#{$socialico} {
      background: url('../../img/#{$socialico}.png') center center no-repeat;
   }
}