.we {
   background: url('../img/bg-we.jpg') center center;
   background-size: cover;
   color: $black;
}

.container__we {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}