.we {
   background: url('../img/bg-we.jpg') center center / cover no-repeat;
   color: $black;
}

.container__we {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}