.feature {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   @include phones {
      flex-direction: row;
      text-align: left;
      margin-bottom: rem(30);
   }

   &__img {
      width: rem(97);
      height: rem(89);
      margin-bottom: rem(33);

      @include phones {
         margin-bottom: 0;
         margin-right: rem(28);
      }
   }

   &__title {
      font-family: 'lifehack', Arial, Helvetica, sans-serif;
      font-size: rem(24);
      margin-bottom: rem(8);
   }

   &__text {
      opacity: 0.8;
      font-weight: 300;
   }
}