.team-member {
   display: flex;
   flex-direction: column;
   margin-bottom: rem(18px);

   &:last-child {
      margin-bottom: 0;
   }

   @include tablets {
      align-items: center;
   }
}

.team-member__name {
   font-family: 'gagalin', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 0 0 rem(17px) rem(16px);
   cursor: pointer;
   transition: 0.3s;
   position: relative;

   &:hover {
      color: $orange;
   }

   &:before {
      content: '';
      border: 6px solid transparent;
      border-left-width: 4px;
      border-right-width: 4px;
      border-top-color: $orange;
      position: absolute;
      top: 0.35714em;
      left: -1em;
   }

   @include tablets {
      font-size: 24px;
   }
}

.team-member__hidden {
   display: none;
   margin-bottom: rem(20px);
   transition: 0.5s;

   @include tablets {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}

.team-member__avatar {
   width: 51%;
   max-width: rem(100px);
   margin-right: 4%;

   @include tablets {
      margin-right: 0;
      margin-bottom: 4%;
   }
}

.team-member__img {
   width: rem(100px);
   height: rem(100px);
   border-radius: 50%;
   object-fit: cover;
}

.team-member__position {
   font-size: 14px;
   font-weight: 700;
   margin-bottom: rem(17px);
}

.team-member__duties {
   font-weight: 300;
   line-height: 1.7193em;
}

.team-member__desc {
   width: 49%;

   @include tablets {
      width: 75%;
   }
}

.team-member__desc {
   display: flex;
   flex-direction: column;
}


.team-member--active {
   .team-member__hidden {
      display: flex;
   }

   .team-member__name {
      color: $orange;
      cursor: auto;

      &:before {
         top: 0.1em;
         border-top-color: transparent;
         border-bottom-color: $orange;
      }
   }
}